@font-face {
    font-family: firasansUltralight;
    src: url(../fonts/FiraSans-UltraLight.ttf);
}

@font-face {
    font-family: firaSansExtraBold;
    src: url(../fonts/FiraSans-ExtraBold.ttf);
}

@font-face {
    font-family: firaSansBold;
    src: url(../fonts/FiraSans-Bold.ttf);
}


.ch-container{
	padding-left:5%;
	padding-right:5%;
}

.ch-header-texts{
	margin-top:11%;
	
	background:url("../imgs/header-bg.png") no-repeat;
	background-size:100%;
	padding-left:5%;
	padding-right:5%;
	background-position: 0px 70px;
}

.ch-header-lvl1{
	/*font-family: 'Fira Sans';*/
	font-family: firasansUltralight;
	font-weight: 100;
	color: red;
}

.ch-header-lvl2{
	font-family: firaSansExtraBold;
	font-weight: 900;
	margin-top: -9%;
	
}

.ch-header-texts{
	font-size: 110px;
}

.ch-subheader{
	width: 44%;
}

.ch-padding{
	padding-left:5%;
	padding-right:5%;	
}

.ch-padding-lvl2{
	padding-left:5%;
	
}

.ch-svg-container{
	height: 20%;
	width: 20%;
}

.ch-svg-title{
	font-weight:bold;
}

.ch-monthly-uniques{
	font-family:firaSansBold;
	font-size:55px;
	font-weight:900;
	color: #ff4069;
}

.ch-magenta-container{
	color:white;
	background:url("../imgs/loyaluserbase.png") no-repeat;
	background-size:100%;
	padding-top:8%;
	padding-left:5%;
	padding-right:25%;
	background-position: 0px 70px;
	width:85%;
	margin-top:5%;
}

.ch-icon-style{
	height: 40px;
	width: 40px;
	margin-left:1%;
}

.ch-map-container{
	margin-top:10%;
}

.ch-status-container{
	margin-top:7%;
}

.ch-footer{
	padding-bottom:5%;
	padding-top:5%;
}